/* -media- */
@media (min-width: 1600px) {
    :root {
        --scale-section-hover: 1.005;
    }
}

@media (max-width: 800px) {
    :root {
        --scale-section-hover: 1.03;
    }
    html {
        font-size: 1rem;
    }
    main section.about-me-details details article.stats {
        padding: .4rem .8rem;
    }
    main section.about-me-details details article figure.stats {
        padding: 0;
        margin: .4rem 0;
    }
}
@media (max-width: 615px) {
    main section.about-me-details details article figure.stats img {
        width: 100%;
    }
}
@media (max-width: 600px) {
    html {
        font-size: clamp(0.85rem, 2vw, 1rem);
    }    

    main.container {
        display: grid;
        gap: 2rem;
        max-width: none;
        margin: 2rem 0;
        padding: 3rem 0;
    }

    nav.page-navigation a {
        font-size: 1rem;
    }

    main section {
        text-align: left;
        padding: .6rem .8rem;
    }
    .projects {
        grid-template-columns: 1fr;
    }
    main section.about-me-details details {
        margin: 1.2rem 0;
    }
    main section.about-me-details details summary {
        padding: 1.2rem 15px;
    }
    main section.about-me-details details article {
        padding: .8rem;
    }
    main section.about-me-details details article.stats {
        padding: .2rem .5rem;
    }
    main section.about-me-details details article figure.stats {
        padding: 0;
        margin: .4rem 0;
    }
}