/* ---Start all "sections"--- */
main section {
    text-align: left;
    padding: 1rem 1.2rem 1rem 1.2rem;
    border-radius: 20px;
    background: var(--element-primary);
    box-shadow: var(--shadow);
    animation: fadeInBottom .8s;
    transition: transform 0.18s, box-shadow 0.18s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
main section:hover {
    transform: translateY(-6px) scale(var(--scale-section-hover));
    box-shadow: var(--shadow-lift);
}



/* -Section class="about-me"- */
main section.about-me header.header {
    color: var(--element-secondary);
}
main section.about-me figure.skillicons {
    margin: -2px;
}
main section.about-me figure.skillicons img {
    border-radius: 0%;
    margin: 2px 2px 0 0;
}

/* -Section class="projects"- */



/* -Section class="about-me-details"- */
main section.about-me-details details {
    overflow: hidden;
    margin: 1.2rem 0;
    border-radius: 20px;
    background: var(--element-secondary-low-opacity);
}

/* summary */
main section.about-me-details details summary {
    font-size: 1.15rem;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    transition: color 0.2s;
    padding: 1.2rem 15px;
    border-radius: 2px;
}
main section.about-me-details details[open] summary {
    color: var(--element-secondary);
}

/* articles */
main section.about-me-details details article {
    padding: 0 1.2rem 1rem;
    margin-top: -.8rem;
}

/* specific tags */
main section.about-me-details details article blockquote {
    margin: 10px auto auto;
    color: var(--text-note);
    font-size: .8rem;
}
main section.about-me-details details article ul {
    padding-left: 1.2rem;
}
main section.about-me-details details article li {
    margin-bottom: 0.3rem;
}

main section.about-me-details details article.stats {
    padding: .6rem .8rem;
}

main section.about-me-details details article figure.stats {
    padding: 0;
    margin: .4rem 0;
}
main section.about-me-details details article figure.stats img {
    padding: 0;
    width: 500px;
    border-radius: 10px;
}
main section.about-me-details details article figure.readme-typing-svg {
    padding: 1rem 0 0;
    margin: 0 0 -10px 0;
}
main section.about-me-details details article figure.readme-typing-svg img {
    border-radius: 0;
}

/* ---End all "sections"--- */